<a href="{{ path('add2') }}">Add Classroom</a>
<h4>List Classroom</h4>
{% for s in  tabClassroom %}
    id: {{ s.id }}
    name: {{ s.name }}
    description: {{ s.description }}
    <a href="{{ path('update',{'id':s.id}) }}">Update</a>
    <a href="{{ path('remove',{'id':s.id}) }}">Remove</a>
    <br>
{% endfor %}